node_modules
WebSite/wp-config.php
.env
/db_data/
WebSite/pMa
*.tar.*
*.zip
*.log
WebSite/.well-known
.DS_Store
error_log.log
WebSite/.htaccess
WebSite/.well-known
WebSite/robots.txt
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9].jpg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9].png
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9].jpeg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9].gif
WebSite/wp-content/cache
WebSite/wp-content/w3tc-config
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9].jpg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9].png
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9].jpeg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9].gif
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].jpg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].png
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].jpeg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].gif
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].jpg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].png
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].jpeg
WebSite/wp-content/uploads/*/*/*-[0-9][0-9][0-9][0-9]x[0-9][0-9][0-9][0-9].gif
WebSite/wp-content/cache/*
WebSite/wp-content/cache/page_enhanced/*
WebSite/.vscode
.vscode
WebSite/wp-content/uploads/uag-plugin/*.css
WebSite/wp-content/themes/hyscaler/assets/css/main.css
WebSite/wp-content/themes/hyscaler/assets/scss/error_log.log

WebSite/wp-content/debug.log
WebSite/error_log
WebSite/error_log/*
WebSite/pMa*
WebSite/wp-content/debug.log