.env
/db_data/
*.tar.*
*.zip
*.log
.DS_Store
error_log.log
.vscode
WebSite/.vscode
WebSite/.htaccess
WebSite/error_log
WebSite/error_log/*
WebSite/.well-known
WebSite/wp-config.php
WebSite/wp-content/cache
WebSite/wp-content/w3tc-config
WebSite/wp-content/cache/*
WebSite/wp-content/cache/page_enhanced/*
WebSite/wp-content/debug.log