<!-- wp:template-part {"slug":"main-header","theme":"apparel-ecommerce-store","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"tagName":"div"} -->
  <div class="wp-block-group">
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
      <!-- wp:pattern {"slug":"apparel-ecommerce-store/404-header-with-background"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"apparel-ecommerce-store","tagName":"footer"} /-->
